
<form action="/stocks/<%= stock_id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete stock" class="btn btn-danger" style="margin-left: -15px;"/>
</form>