<h1>Edit stock</h1>
<form action="/stocks/<%= @stock.id %>" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <input type="hidden" name="_method" value="put" />
    <label for="stock_name">Name:</label>
    <input id="stock_description" name="stock[name]" type="text" value="<%= @stock.name %>" class="form-control" />
  </div>
  <div class="form-group">
    <label for="stock_description">Description:</label>
    <textarea id="stock_description" name="stock[description]" rows="5" class="form-control"><%= @stock.description %></textarea>
  </div>
    <input type="submit" value="Update" class="btn btn-primary" />
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>