<h1>Stocks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.description %></td>
      <td><a href="/stocks/<%= stock.id %>/edit">Edit</a></td>
      <td><a href="/stocks/<%= stock.id %>">Show</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="/new/" class="btn btn-success">Add a stock</a>
<br>